# Frontend ignores
    frontend/node_modules/
    frontend/.next/
    
    # Backend ignores
    backend/target/
    
    # OS & Log ignores
    *.log
    .DS_Store

# Ignore local secrets
*.tfvars
*.tfvars.json

# Ignore local Terraform state files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
